
#global
{
	width:1050px;
	height:500px;
	margin-top:25px;
	background-image:url(telecommande-sonyBraviaTV-RM-ED044-horizontal.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 10px 10px 10px 10px;
}

#powerButton
{
	 width:20px;
	 height:50px;
	 background-color:none;
	 margin-left:178px;
	 margin-top:184px;
	 position: absolute; 
	 cursor:pointer;
}

#boutonHautGauche
{
	 width:20px;
	 height:50px;
	 background-color:none;
	 margin-left:180px;
	 margin-top:280px;
	 position: absolute;
	 cursor:pointer; 
}

#trackIDButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:218px;
	 margin-top:295px;
	 position: absolute; 
	 cursor:pointer; 
}

#previousButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:218px;
	 margin-top:257px;
	 position: absolute; 
	 cursor:pointer; 
}

#pauseButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:218px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#nextButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:218px;
	 margin-top:182px;
	 position: absolute; 
	 cursor:pointer; 
}

#iManualButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:248px;
	 margin-top:295px;
	 position: absolute; 
	 cursor:pointer; 
}

#rewindButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:248px;
	 margin-top:257px;
	 position: absolute; 
	 cursor:pointer; 
}

#playButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:248px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#advanceButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:248px;
	 margin-top:182px;
	 position: absolute; 
	 cursor:pointer; 
}

#the3DButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:281px;
	 margin-top:295px;
	 position: absolute; 
	 cursor:pointer; 
}

#screenButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:281px;
	 margin-top:257px;
	 position: absolute; 
	 cursor:pointer; 
}

#stopButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:281px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#recordButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:281px;
	 margin-top:182px;
	 position: absolute; 
	 cursor:pointer; 
}

#digitalAnalogButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:312px;
	 margin-top:295px;
	 position: absolute; 
	 cursor:pointer; 
}

#exitButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:312px;
	 margin-top:257px;
	 position: absolute; 
	 cursor:pointer; 
}

#sceneButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:312px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#internetVideoButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:312px;
	 margin-top:182px;
	 position: absolute; 
	 cursor:pointer; 
}

#upButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:370px;
	 margin-top:242px;
	 position: absolute; 
	 cursor:pointer; 
}

#leftButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:404px;
	 margin-top:275px;
	 position: absolute; 
	 cursor:pointer; 
}

#rightButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:404px;
	 margin-top:213px;
	 position: absolute; 
	 cursor:pointer; 
}

#downButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:438px;
	 margin-top:242px;
	 position: absolute; 
	 cursor:pointer; 
}

#okButton
{
	 width:35px;
	 height:35px;
	 background-color:none;
	 margin-left:402px;
	 margin-top:242px;
	 position: absolute; 
	 cursor:pointer; 
}

#syncMenuButton
{
	 width:25px;
	 height:60px;
	 background-color:none;
	 margin-left:343px;
	 margin-top:226px;
	 position: absolute; 
	 cursor:pointer; 
}

#guideButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:372px;
	 margin-top:300px;
	 position: absolute; 
	 cursor:pointer; 
}

#returnButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:435px;
	 margin-top:300px;
	 position: absolute; 
	 cursor:pointer; 
}

#homeButton
{
	 width:25px;
	 height:60px;
	 background-color:none;
	 margin-left:470px;
	 margin-top:228px;
	 position: absolute; 
	 cursor:pointer; 
}

#infoButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:372px;
	 margin-top:185px;
	 position: absolute; 
	 cursor:pointer; 
}

#optionsButton
{
	 width:30px;
	 height:30px;
	 background-color:none;
	 margin-left:435px;
	 margin-top:185px;
	 position: absolute; 
	 cursor:pointer; 
}

#redTeletextButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:507px;
	 margin-top:295px;
	 position: absolute; 
	 cursor:pointer; 
}

#greenTeletextButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:507px;
	 margin-top:259px;
	 position: absolute; 
	 cursor:pointer; 
}

#yellowTeletextButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:507px;
	 margin-top:222px;
	 position: absolute; 
	 cursor:pointer; 
}

#blueTeletextButton
{
	 width:20px;
	 height:35px;
	 background-color:none;
	 margin-left:507px;
	 margin-top:184px;
	 position: absolute; 
	 cursor:pointer; 
}

#oneButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:535px;
	 margin-top:290px;
	 position: absolute; 
	 cursor:pointer; 
}

#twoButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:536px;
	 margin-top:240px;
	 position: absolute; 
	 cursor:pointer; 
}

#threeButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:537px;
	 margin-top:190px;
	 position: absolute; 
	 cursor:pointer; 
}

#fourButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:570px;
	 margin-top:290px;
	 position: absolute; 
	 cursor:pointer; 
}

#fiveButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:570px;
	 margin-top:240px;
	 position: absolute; 
	 cursor:pointer; 
}

#sixButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:570px;
	 margin-top:190px;
	 position: absolute; 
	 cursor:pointer; 
}

#sevenButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:603px;
	 margin-top:290px;
	 position: absolute; 
	 cursor:pointer; 
}

#eightButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:603px;
	 margin-top:240px;
	 position: absolute; 
	 cursor:pointer; 
}

#nineButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:603px;
	 margin-top:190px;
	 position: absolute; 
	 cursor:pointer; 
}

#boutonBasGauche
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:636px;
	 margin-top:290px;
	 position: absolute; 
	 cursor:pointer; 
}

#zeroButton
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:636px;
	 margin-top:240px;
	 position: absolute; 
	 cursor:pointer; 
}

#boutonBasDroite
{
	 width:25px;
	 height:40px;
	 background-color:none;
	 margin-left:636px;
	 margin-top:190px;
	 position: absolute; 
	 cursor:pointer; 
}

#muteButton
{
	 width:25px;
	 height:30px;
	 background-color:none;
	 margin-left:703px;
	 margin-top:312px;
	 position: absolute; 
	 cursor:pointer; 
}

#soundUpButton
{
	 width:35px;
	 height:35px;
	 background-color:none;
	 margin-left:683px;
	 margin-top:275px;
	 position: absolute; 
	 cursor:pointer; 
}

#soundDownButton
{
	 width:35px;
	 height:35px;
	 background-color:none;
	 margin-left:723px;
	 margin-top:275px;
	 position: absolute; 
	 cursor:pointer; 
}

#channelUpButton
{
	 width:35px;
	 height:35px;
	 background-color:none;
	 margin-left:683px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#channelDownButton
{
	 width:35px;
	 height:35px;
	 background-color:none;
	 margin-left:723px;
	 margin-top:220px;
	 position: absolute; 
	 cursor:pointer; 
}

#audioButton
{
	 width:25px;
	 height:30px;
	 background-color:none;
	 margin-left:703px;
	 margin-top:185px;
	 position: absolute; 
	 cursor:pointer; 
}
