#parse("header.html")
#parse("roundedDiv.html")
<div id="welcome-title">Administration interface</div>
#set($deploymentServer = $deploymentAccess.getAllDeploymentServer())
<div id="friends">
    <div id="a_tabbar" class="dhtmlxTabBar" imgpath="images/" style="width:90%; height:600px;margin-left:40px;">
       <div id="a1" name="Clouds" width="100px">
	       <div id="cloudsView">
	       
	       </div>
	       <div id="deploymentView">
	            <select id="deploymentLocations">
	                
	            </select>
	            <input type="button" value="Redeploy applications" onclick="redeploy()"/>
	       </div>
       </div>
       <div id="a2" name="Users" width="100px">
        <div id="usersView">
        
        </div>
        <div id="userInformations" style="display:none">
            <table>
                <tr>
                    <td>Login :</td>
                    <td id="login"></td>
                </tr>
                <tr>
                    <td>Mail :</td>
                    <td id="mail"></td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td id="userName"></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="admin"><input type=checkbox name="admin" onclick="changeAdmin()">admin</td>
                </tr>
            </table>
        </div>
       </div>
       <div id="a3" name="Bugs" width="100px">
	       <div id="bugsView">
	       		<table id="bugsTable" width="800px"></table>
	       </div>
       </div>
    </div>
</div>
    <script>
    $.get("/admin/allDeployedAppJSON", {
    }, function(data) {
        var json = eval("(" + data + ")");
        tree = new dhtmlXTreeObject("cloudsView", "100%", "100%", 0);
        tree.setDataMode("json");
        tree.setImagePath("images/admin/");
        //tree.attachEvent("onSelect", onTreeClick);
        tree.enableKeyboardNavigation(true);
        tree.loadJSONObject(json, function() {
        });
    });
    
    $.get("/admin/allDeployedAppLocations", {}, 
    function(data) {
        var array = eval("(" + data + ")");
        for(i = 0 ; i < array.urls.length ; i++){
            $("#deploymentLocations").append('<option value=\"'+array.urls[i].value+'\">'+array.urls[i].value+'</option>');
        }
    });
    
    function redeploy(){
    	var url = $("#deploymentLocations").val();
    	$.post("/admin/redeploy", {
            cloud : url
        }).success(function() { alert("Success"); })
        .error(function() { alert("Error during the deployment"); });
    }
    
    $.get("/admin/allUsersJSON", {
    }, function(data) {
        var json = eval("(" + data + ")");
        tree2 = new dhtmlXTreeObject("usersView", "100%", "100%", 0);
        tree2.setDataMode("json");
        tree2.setImagePath("images/admin/");
        tree2.attachEvent("onSelect", getUserInformations);
        tree2.enableKeyboardNavigation(true);
        tree2.loadJSONObject(json, function() {
        });
    });
    
    $.get("/admin/bugs", {
    }, function(data) {
        var json = eval("(" + data + ")");
        $("#bugsTable").append("<tr><td>object</td><td>description</td></tr>");
        for(i = 0 ; i < json.length; i++){
//         	$("#bugsTable").append("<tr><td>");
//         	if(json[i].login != null){
//         		$("#bugsTable").append(json[i].login);
//         	}
//         	else{
//         		$("#bugsTable").append(json[i].mail);
//         	}
        	$("#bugsTable").append("<tr><td>"+json[i].object+"</td><td>"+json[i].description+"</td></tr>");
        }
        buggrid = new dhtmlXGridFromTable("bugsTable");
        buggrid.setInitWidths("200,700");
//         buggrid.enableAutoWidth(true);
//         buggrid.enableAutoHeight(true);
//         buggrid.setSizes(); 
//         buggrid.setSkin("dhx_skyblue");
        
    });
    
    function getUserInformations(){
    	 $.get("/admin/user", {id:tree2.getSelectedItemId()
    	    }, function(data) {
    	        var user = eval("(" + data + ")");
    	        $("#login").html(user.login);
    	        $("#userName").html(user.username);
    	        $("#mail").html(user.mail);
    	        if(user.role == "Admin"){
    	        	$('input[name=admin]').attr('checked', true);
    	        }
    	        else{
    	        	$('input[name=admin]').attr('checked', false);	
    	        }
    	        $("#userInformations").css("display","block");
    	    });
    }
    
    function changeAdmin(){
    	var isAdmin = $('input[name=admin]').is(':checked');
    	$.post("/admin/changeAdmin", {id:tree2.getSelectedItemId(),admin:isAdmin});
    }
    
    dhtmlx.skin = "dhx_skyblue";
    </script>
#parse("footpage.html")