#set($user = $request.getSession().getAttribute("user"))
#if($user)
<div id="banner">
   <div id="bannerElements">
    	<div id="logo"></div>
        <a href="homePage.html" id="homepageIcon" class="menu-icon" title="Go to the homepage"></a>
        
        #if($!user.getFriendRequests() && $user.getFriendRequests().size()>0)
            <a href="friendRequests.html">Friend Requests($user.getFriendRequests().size())</a>
        #end
        
        <a href="myservices.html" id="applications" class=" menu-icon notSelected" title="Manage your applications or create a new"></a>
        <a href="findService.html" id="findApplication" class="menu-icon notSelected" title="Find existing applications"></a>
        <a href="friends.html" id="friendsMenu" class="menu-icon notSelected" title="Manage your friends or find news"></a>
        <div class="arrow" id="arrow">
        
    </div>
        <div id="user">
    $user.getUserName() 
    $user.getSurname()
    </div>
    
    </div>
    
</div>
<div id="divArrow">
        <ul class="ulArrow">
    		<li><a href="myspace.html">My space</a></li>
    	</ul>
    	<ul class="ulArrow">
    		<li class="last"><form name="disconnect" id="disconnect" action="disconnect"><a href="" onclick="logOut();">Log out</a></form></li>
    	</ul>
    	</div>
<script type="text/javascript">
	$(document).ready(function() {
		
		$('#arrow').click(function() {
			  $('#divArrow').slideToggle('slow', function() {
			  });
			});
	});

	$(document).ready(function() {
		$(function(){
			$('#homepageIcon').tipTip();
			$('#applications').tipTip();
			$('#findApplication').tipTip();
			$('#friendsMenu').tipTip();
		});
	});
	
</script>
#end
#parse("header.html")
#parse("roundedDiv.html")
<div id="welcome-title">Report a bug</div>
<div align="center">
    <form METHOD="POST" ACTION="/easySoa/bugReport">
    <table>
        #if($user)
        	<tr><td><input type="hidden" id="login" name="login" value="$user.getLogin()"/></td></tr>
        #else
			<tr>
				<td>Mail : </td>
				<td><input type="email" id="mail" name="mail"/></td>
			</tr>
        #end
        <tr>
        	<td>Object :</td> 
        	<td><input type="text" id="object" name="object"/></td>
        </tr>
        <tr>
        	<td>Bug description : </td>
        	
        	<td><textarea id="message" name="message" cols=20 rows=20></textarea></td>
        </tr>
        <tr>
        	<td colspan=2><input type="submit" class="button orange" value="Send bug report"/></td>
        </tr>
        </table>
    </form>
</div>

#parse("footpage.html")
