#parse("header.html")
#parse("roundedDiv.html")
#set($socialUser = $request.getSession().getAttribute("socialUser"))
#set($countries = $modelAccess.getCountries())
<div id="welcome-title">Please complete your informations</div>
<div id="account">
    <form METHOD="POST" ACTION="/easySoa/accountSocialCreation" id="formCreationAccount">
        <table style="margin-left:auto;margin-right:auto;">
            <col width=450px>
            <col width=320px>
            <col width=230px>
            <tr>
                <td colspan="2">
                <input type=RADIO name="civility" value="Mr" checked>Mr <input
                type=RADIO name="civility" value="Mrs">Mrs <input type=RADIO
                name="civility" value="Miss">Miss
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Firstname :
                </td>
                <td><input class="validate[required,custom[onlyLetter]] text-input" type="text" name="name" id="name" value="$socialUser.getUserName()"/>
                </td>
                <td id="nameError" class="error">
                </td>
            </tr>
            <tr>
                <td>Surname :
                </td>
                <td><input class="validate[required,custom[onlyLetter]] text-input" type="text" name="surname" id="surname"  value="$socialUser.getSurname()"/>
                </td>
                <td id="surnameError" class="error">
                </td>
            </tr>
            <tr>
                <td>Birthday (ex:03/14/1987):
                </td>
                <td><input type="text" name="birthday" id="birthday" />
                </td>
                <td id="birthdayError" class="error">
                </td>
            </tr>
            <tr>
                <td>Login :
                </td>
                <td><input class="validate[required] text-input" type="text" name="login" id="login" />
                </td>
                <td id="loginError" class="error">
                </td>
            </tr>
            <tr>
                <td>Mail :
                </td>
                <td><input class="validate[required,custom[email]] text-input" type="text" name="mail" id="mail" />
                </td>
                <td id="mailError" class="error">
                </td>
            </tr>
            <tr>
                <td>Country:
                </td>
                <td>
                    <SELECT name="country" id="country" size="1" style="width:140px" onchange="countryId = getSelectedCountry()">
                        #foreach($country in $countries)
                        <OPTION value="$country.getId()">$country.getName()</OPTION>
                        #end
                    </SELECT>
                </td>
            </tr>
            <tr>
                <td>Town :
                </td>
                <td>
                    <input type="text" id="town" name="town"/>
                </td>
                <td id="townError" class="error">
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center"><input type="button" class="orange button" value="Validate informations" onclick="return createAccountValid()"/></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><input id="submitCreation" type="submit" class="orange button" value="Create account" disabled="disabled"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
$("#birthday").datepicker();
</script>
<script>

var countryId;

function getSelectedCountry(){
	var country = document.getElementById("country");
	countryId = country.options[country.options.selectedIndex].value;
}

$('#town').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "/easySoa/townSuggestions",
          dataType: "json",
          data: {
            term : request.term,
            countryId : $("#country").val()
          },
          success: function(data) {
            response(data);
          }
        });
      },
    minLength: 3
  });
  
  function createAccountValid(){
	  var isValid = true;
	  if(!$("#name").val().length > 0){
          $('#nameError').html("This field cannot be empty.");
          isValid = false;
      }
      else{
          $('#nameError').html("");
      }
      if(!$("#surname").val().length > 0){
          $('#surnameError').html("This field cannot be empty.");
          isValid = false;
      }
      else{
          $('#surnameError').html("");
      }
      if(!$("#login").val().length > 0){
          $('#loginError').html("This field cannot be empty.");
          isValid = false;
      }
      else{
          $('#loginError').html("");
      }
      if(!$("#mail").val().length > 0){
          $('#mailError').html("This field cannot be empty.");
          isValid = false;
      }
      else{
          $('#mailError').html("");
      }
      if(!$("#town").val().length > 0){
          $('#townError').html("This field cannot be empty.");
          isValid = false;
      }
      else{
          $('#townError').html("");
      }
      if(isValid){
		  $.get("/rest/isExistingTown", {
		        town : $("#town").val(),
		        country : $("#country").val()
		    }, function(data) {
		        if(data == "true"){
		        	$("#submitCreation").removeAttr("disabled");
		        }
		        else if(data == "false"){
		        	alert("Error in the town. Please select a big town.");
		        }
		    }).error(function() { return false; });
      }
  }
</script>

#parse("footpage.html")
