#parse("banner.html")
#parse("header.html")
#parse("roundedDiv.html")
#set($templates = $compositeTemplates.allAvailableTemplatesLabel())
#set($user = $request.getSession().getAttribute("user"))
<div id="welcome-title">Create Application</div>


<div id="createServiceContent">
    <form METHOD="POST" id="create">
        <table class="table">
            <tr>
                <td>
                    Application name :
                </td>
                <td>
                    <input class="validate[required,custom[onlyLetterAndNumber]] text-input" type="text" name="name" id="name" />
                    <input type="hidden" name="user" id="user" value="$user.getId()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Description :
                </td>
                <td>
                    <input class="validate[required] text-input" type="text" name="description" id="description" />
                </td>
            </tr>
            <tr>
                <td>
                    Template name :
                </td>
                <td>
                    <select name="template" id="template" onChange="getTemplateForm()">
                    	#foreach($template in $templates)
                    		<option>$template</option>
                    	#end
                    </select>
                </td>
            </tr>
            <tr>
            	<td id="templateForm" colspan="2">
            	
            	</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" class="orange button" value="Create application" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    getTemplateForm();
    $("form#create").validationEngine({
        success :  function(){
        	$("#loading-text").html("Create your application...");
        	$("#loading").css("display", "block");
        	$.post("/templateRest/createApplication",{params : $("form#create").serialize()},function(data){
        		$("#loading").css("display", "none");
                $("#loading-text").html("");
    			if(data != ""){
    				showMessage("error","Creation error",data);
    			}
    			else{
    				$(location).attr('href',"myservices.html");
    			}
    		});
        },
        failure : function() {}
	})
    
</script>
#parse("footpage.html")
