#parse("banner.html")
#parse("header.html")
#parse("roundedDiv.html")

#set($deployments = $deploy.getAvailableDeployments())
##set($app = $request.getSession().getAttribute("app"))

<div id="welcome-title">Deploy</div>
<div id="rounded-div-content">
   Deploy application $appName on : <br/>
   #foreach($deploy in $deployments)
   		<input type=checkbox name="$deploy" value="$deploy.getUrl()">$deploy.getName()</input><BR>
   #end
   <input type=checkbox name="share" value="share">Share in services catalog</input>
   <input type="button" class="button orange" value="Deploy" onClick="deploy()"/>
</div>
#parse("footpage.html")