#parse("header.html") #parse("roundedDiv.html")


#if($request.getParameter("cmd"))
	#set($socialUser = $oauth.getUserInformations($request.getParameter("cmd"),$request,$session))
	#if($socialUser)
		#if($connection.isSocialUserExist($socialUser.getSocialNetworkId(), $socialUser.getSocialNetwork().value()))
			#set($findUser = $connection.connectBySocialId($socialUser.getSocialNetworkId(), $socialUser.getSocialNetwork().value()))
			$request.getSession(true).setAttribute("user",$findUser)
    		$request.getSession().setAttribute("messageConnection","")
    		$response.sendRedirect("homePage.html")
		#else
			$request.getSession(true).setAttribute("socialUser",$socialUser)
    		$request.getSession().setAttribute("messageConnection","")
    		$response.sendRedirect("createSocialAccount.html")
		#end
	#else
	
	#end
#else

<div id="welcome-title">Welcome on EasySOA Services website 
    <div id="connexionPanel">
			<div id="connexionLink" class="font-title">Log In</div>
	</div>
</div>
#if($request.getSession().getAttribute("messageConnection") == "error")
	<script>
		showMessage("error","Error","This account doesn't exists or password is wrong.");
	</script>
#end
<div style="display: none" id="connection-dialog" title="Log-in">
	<FORM METHOD="POST" ACTION="/easySoa/connection">
		<table>
	          <tr>
	             <td><label for="login">Login : </label></td>
	             <td><input type="text" name="login" id="login" /></td>
	         </tr>
	         <tr>
	             <td><label for="password">Password : </label></td>
	             <td><input type="password" name="password" id="password" /></td>
	         </tr>
	         <tr>
	             <td colspan="2" align="center"><input type="submit"
	                 class="orange button" value="Connect" /></td>
	         </tr>
		</table>
	</FORM>
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all div-separator">Connect with</div>
	<div id="social-buttons">
		<form action="oauth">
			<input type="hidden" id="network" name="network" value="Facebook"/>
			<input type="submit" class="logo-facebook"/ value="">
		</form>
		<form action="oauth">
			<input type="hidden" id="network" name="network" value="Twitter"/>
			<input type="submit" class="logo-twitter"/ value="">
		</form>
		<form action="oauth">
			<input type="hidden" id="network" name="network" value="Google"/>
			<input type="submit" class="logo-google" value=""/>
		</form>
	</div>
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all div-separator"><a href="accountCreation.html">Create account</a></div>
</div>
<div id="rounded-div-content">
	<div class="rounded-div-padding">
			<strong>EasySOA</strong> builds on the web and Open Source
			technologies to make <span class="underline-text">Service
				Oriented Architectures</span> (SOA) <span class="underline-text">simpler
				to use.</span><br /> Its goal is to add an <strong>open</strong>, <strong>light</strong>,
			<strong>agile</strong> layer on top of &quot; traditional &quot; SOA,
			thanks to an online, social and collaborative approach, involving <strong>all
				actors</strong> of the SOA process. Beyond cartography and documentation, it
			helps gathering and fast-prototyping the business needs, and eases
			the transition to final implementations in the existing SOA solution.<br />
		<div id="schema-easy-soa"></div>
		Driven by a consortium of <a class="index-link" href="easysoa-consortium.html">major actors</a> of the Open Source community,
		EasySOA has already started <a class="index-link" href="partner-entreprises.html">throttling up</a> the SOA engine in the
		enterprise. Why not yours ?
	</div>
</div>

<script>
	$(document).ready(function() {
		
		$('#connexionLink').click(function() {
			$.fx.speeds._default = 1000;
		    $connectionDialog = $("#connection-dialog")
		            .dialog(
		                    {
		                        autoOpen : false,
		                        show : "blind",
		                        hide : "explode",
		                        buttons : {
		                            Cancel : function() {
		                                $(this).dialog("close");
		                            }
		                        }
		                    });
		    $("#connection-dialog").css("display", "block");
		    $("#connection-dialog").dialog( "option", "width", "auto" );
		    $connectionDialog.dialog("open");	
		});
	});
	
</script>
#end
#parse("footpage.html")
