#parse("banner.html") #parse("header.html") #parse("roundedDiv.html")
<div id="welcome-title">My applications</div>
<script type="text/javascript">
window.localStorage.removeItem('serviceView');
</script>
<div id="rounded-div-content">
	#set($user = $request.getSession().getAttribute("user")) 
	#set($user = $connection.searchUser($user.getId()))
	$request.getSession().setAttribute("user",$user) 
	#set($userApps = $user.getProvidedApplications())
    <div style="width:800px;margin-left:auto;margin-right:auto;">
		<table id="applicationTable" imgPath="images/dhxgrid" style="width:800px;" border="1">
			<tr>
				<td type="ro">Application name</td>
				<td>Description</td>
			</tr>
			#foreach($app in $userApps)
			<tr>
				<td>$app.getName()</td>
				<td>$app.getDescription()</td>
			</tr>
			#end
		</table>
	</div>
	<div class="buttons">
        <input type="button" class="createApplicationButton" id="createApplicationButton" title="Create application" onclick="createApplication()"/>
        <input type="button" class="openApplication" id="openApplication" title="Open application" onclick="openApplication()"/>
        <input type="button" class="deleteApplication" id="deleteApplication" title="Delete application" onclick="validDelete()"/>
        <input type="button" class="deployApplication" id="deployApplication" title="Deploy application" onclick="deployApplication()"/>
        <input type="button" class="undeployApplication" id="undeployApplication" title="Undeploy application" onclick="undeployApplication()"/>
    </div>
<!--         <form METHOD="GET"> -->
<!--             <input type="HIDDEN" name="applicationName" id="applicationName" -->
<!--                 value="$app.getName()" /> <input type="button" -->
<!--                 class="orange button" value="Download Zip" onclick="downloadZip()" /> -->
<!--         </form> -->
   </div>

<script>

	$(document).ready(function() {
	    $(function(){
	    	$('#createApplicationButton').tipTip();
	        $('#openApplication').tipTip();
	        $('#deleteApplication').tipTip();
	        $('#deployApplication').tipTip();
	        $('#undeployApplication').tipTip();
	    });
	});

    function downloadZip(){
    	try{
    	    $.get("/zip/zip", {
    	        userId : $("#userId").val(),
    	        appName : $("#applicationName").val()
    	    }, function(data) {
    	    	jAlert("<a href='"+data+"'>download</a>");
    	    });
    	    return false;
    	}
    	catch(err){
    	    alert(err);
    	    return false;
    	}
    }
    
    dhtmlx.skin = "dhx_skyblue";
    var grid = new dhtmlXGridFromTable("applicationTable");
    grid.enableEditEvents(false,false,false);
    
    function getAppName(){
    	var selectedId=grid.getSelectedRowId();
        var appName = grid.cells(selectedId, 0).getValue();
        return appName;
    }
    
    function validDelete(){
    	var r = jConfirm('Are you sure?', 'Delete application', function(r) {  
            if(r){
            	var url = "/easySoa/deleteService?appName="+getAppName();
            	window.location.href = url;
            } 
        });
    }
    
    function openApplication(){
    	window.location.href = "/easySoa/openService?appName="+getAppName();
    }
    
    function deployApplication(){
    	window.location.href = "/easySoa/deploy?appName="+getAppName();
    }
    
    function undeployApplication(){
    	window.location.href = "/easySoa/undeploy?appName="+getAppName();
    }
    
    function createApplication(){
    	window.location.href = "createService.html";
    }
    
    
</script>

#parse("footpage.html")
