#parse("banner.html") #parse("header.html")
<div id="ide">
	<div id="serviceView"></div>
	<form name="elementView" id="elementView">
		<div id="component_frame">
			<div id="menuObj"></div>
			<div id="component_frame_content"></div>
		</div>
	</form>
	<div id="catalogServices">
		<table>

		</table>
	</div>
	<div id="catalogServicesMenu">
		<ul>
			<li><input type="button" value="Bind on..." class="button orange"
				onclick="bindOnMenu()" /></li>
				<li><input type="button" value="Details" class="button orange"
				onclick="bindingDetails()" /></li>
			<li><input type="button" value="Close" class="button orange"
				onclick="hideCatalogMenu()" /></li>
		</ul>
	</div>
</div>

<div id="menuContent"></div>
<script>
	show();

	dhxLayout = new dhtmlXLayoutObject("ide", "3W");
	dhxLayout.cells("a").attachObject("serviceView");
	dhxLayout.cells("b").attachObject("elementView");
	dhxLayout.cells("c").attachObject("catalogServices");
	dhxLayout.cells("a").setWidth(300);
	dhxLayout.cells("c").setWidth(300);
	dhxLayout.cells("a").setText("");
	dhxLayout.cells("b").setText("");
	dhxLayout.cells("c").setText("Catalog services");

	function save() {
		var id = tree.getSelectedItemId();
		var selectId = tree.getSelectedItemId();
		var globalId = "";
		console.log(selectId);
		if(selectId != "composite+"){
			while (selectId != "composite+") {
				globalId = selectId + globalId;
				selectId = tree.getParentId(selectId);
			}
		}
		else{
			globalId="composite+";
		}
		if ((globalId.split("+").length == 3)
				&& (globalId.split("+")[2].startsWith("implementation"))) {
			saveContentFile(getEditorValue(), "implementation");
		} else if (((globalId.split("+").length == 3) && (globalId.split("+")[2]
				.startsWith("interface")))
				|| ((globalId.split("+").length == 5) && (globalId.split("+")[4]
						.startsWith("interface")))) {
			saveContentFile(getEditorValue(), "interface");
		} else {
			var name = $("input[name=name]").val();
			var userId = $("#userId").val();
			$.post("/rest/saveElement", {
				userId : userId,
				params : $("#elementView").serialize() + "&id=" + globalId
			}, function(data) {
				tree.setItemText(id, name, null);
				var elem = id.split('+');
				var newId = "";
				for ( var i = 0; i < elem.length - 1; i++) {
					if (i != 0)
						newId = newId + "+" + elem[i];
					else
						newId = elem[i];
				}
				tree.changeItemId(id, newId + "+" + name);
			});
		}
		return false;
	}

	
</script>


<div style="display: none" id="dialog" title="What do you want to do?">
	<select name="list" id="list">
		<option value="upload">Upload source</option>
		<option value="create">Create an implementation</option>
	</select> <br />
</div>

<div style="display: none" id="dialog-creation"
	title="Implementation creation">
	#set($allImplementations =
	$implementations.allAvailableImplementationsLabel()) <input
		id="className" type="text" value="fileName.extension"
		onClick="document.getElementById('className').value = ''" /> <select
		name="implementation-type-dialog-value" id="implementation-type-dialog-value">
		#foreach($implem in $allImplementations)
		<option value="$implem">$implem</option> #end
	</select> <br />
</div>

<div style="display: none" id="dialog-upload"
	title="Implementation upload">
	<form name="upload" id="upload" action="upload" method="post"
		enctype="multipart/form-data">
		File: <input type="file" id="filename" name="filename" size="40" /> <br />
		<select name="implementation-type" id="implementation-type">
			#foreach($implem in $allImplementations)
			<option>$implem</option> #end
		</select> <input type="hidden" id="userIdForm" name="userIdForm"
			value="$user.getId()" /> <input type="hidden" name="componentType"
			id="componentType" value="implementation" /> <input
			class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
			type="submit" value="OK" />
	</form>
</div>

<div style="display: none" id="dialog-upload-resource"
    title="Upload Resource">
    <form name="upload-resource" id="upload-resource" action="upload-resource" method="post"
        enctype="multipart/form-data">
        File: <input type="file" id="filename" name="filename" size="40" /> <br />
        <select name="file-type" id="file-type">
            #foreach($fileType in $fileTypesManager.getAllFileTypes())
            <option value="$fileType" >$fileType</option> #end
        </select> 
        <input type="hidden" id="userIdForm" name="userIdForm"
            value="$user.getId()" /> 
        <input type="hidden" name="componentType"
            id="componentType" value="resource" />
        <input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            type="submit" value="OK" />
    </form>
</div>

<div style="display: none" id="dialog-creation-binding"
	title="Binding creation">
	#set($allBindings = $bindings.allAvailableBindingsLabel()) <select
		name="binding-type" id="binding-type"> #foreach($binding in
		$allBindings)
		<option>$binding</option> #end
	</select> <br />
</div>

<div style="display: none" id="dialog-interface"
	title="What do you want to do?">
	<select name="listInterf" id="listInterf">
		<option value="upload">Upload source</option>
		<option value="create">Create an interface</option>
		<option value="use">Use Java SDK</option>
	</select> <br />
</div>

<div style="display: none" id="dialog-interface-use"
	title="Use Java SDK interface">
	<input id="classNameInterface" type="text" value="class name"
		onClick="document.getElementById('classNameInterface').value = ''" />
</div>

<div style="display: none" id="dialog-creation-interface"
	title="Interface creation">
	#set($allInterface = $interfaces.allAvailableInterfacesLabel()) <input
		id="classNameNewInterface" type="text" value="fileName.extension"
		onClick="document.getElementById('classNameNewInterface').value = ''" />
	<select name="interface-type-creation-interface"
		id="interface-type-creation-interface"> #foreach($interf in
		$allInterface)
		<option>$interf</option> #end
	</select> <br />
</div>

<div style="display: none" id="dialog-upload-interface"
	title="Interface upload">
	#set($allInterface = $interfaces.allAvailableInterfacesLabel())
	<form name="uploadInterface" id="uploadInterface" action="upload"
		method="post" enctype="multipart/form-data">
		File: <input type="file" id="filenameUploadInterface"
			name="filenameUploadInterface" size="40" /> <br /> <select
			name="interface-type-upload" id="interface-type-upload">
			#foreach($interf in $allInterface)
			<option>$interf</option> #end
		</select> <input type="hidden" name="componentType" id="componentType"
			value="interface" /> <input type="hidden" id="userIdForm"
			name="userIdForm" value="$user.getId()" /> <input
			class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
			type="submit" value="OK" />
	</form>
</div>

<div style="display: none" id="dialog-bind-service"
	title="Bind on...">
	<select name="bind-service-select" id="bind-service-select"></select>
</div>

<script>
	// wait for the DOM to be loaded 

	var optionsImplementation = {
		success : implementation
	};

	var optionsInterface = {
		success : interfaceSuccess
	};
	
	var optionsUploadResource = {
        success : uploadResourceSuccess
    };

	// bind to the form's submit event 
	$('#upload').submit(function() {
		// inside event callbacks 'this' is the DOM element so we first 
		// wrap it in a jQuery object and then invoke ajaxSubmit 
		$(this).ajaxSubmit(optionsImplementation);

		// !!! Important !!! 
		// always return false to prevent standard browser submit and page navigation 
		return false;
	});

	$('#uploadInterface').submit(function() {
		// inside event callbacks 'this' is the DOM element so we first 
		// wrap it in a jQuery object and then invoke ajaxSubmit 
		$(this).ajaxSubmit(optionsInterface);

		// !!! Important !!! 
		// always return false to prevent standard browser submit and page navigation 
		return false;
	});
	
	// bind to the form's submit event 
    $('#upload-resource').submit(function() {
        // inside event callbacks 'this' is the DOM element so we first 
        // wrap it in a jQuery object and then invoke ajaxSubmit 
        $(this).ajaxSubmit(optionsUploadResource);

        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false;
    });

	function implementation(responseText, statusText, xhr, $form) {
		$dialogUpload.dialog("close");
		var list = document.getElementById("implementation-type");
		var implemType = list.options[list.options.selectedIndex].value;
		var file = document.getElementById("filename").value;
		var componentType = document.getElementById("componentType").value;
		createImplementationUpload($("upload").serialize(), implemType);
	}

	function interfaceSuccess(responseText, statusText, xhr, $form) {
		$dialogUploadInterface.dialog("close");
		var list = document.getElementById("interface-type-upload");
		var interfType = list.options[list.options.selectedIndex].value;
		var file = document.getElementById("filenameUploadInterface").value;
		createInterfaceUpload($("uploadInterface").serialize(), interfType);
	}
	
	function uploadResourceSuccess(responseText, statusText, xhr, $form) {
	    $dialogUploadResource.dialog("close");
        jAlert("Upload successfully!");
    }
</script>

#parse("footpage.html")