#parse("header.html")
#parse("roundedDiv.html")
<div id="welcome-title">Tutorials</div>
<div id="rounded-div-content">
	<div class="rounded-div-padding">
		This video presents the creation of a Hello World service and shows how to use Velocity implementation to call service in a web page.
	</div>
</div>
<iframe width="1000" height="563" src="http://www.youtube.com/embed/sCtLKy8fbq4?rel=0" frameborder="0" allowfullscreen></iframe>

#parse("footpage.html")
