#parse("banner.html")
#parse("header.html")
#parse("roundedDiv.html")

#set($deployments = $deploy.getAvailableDeployments())
#set($app = $request.getSession().getAttribute("app"))

<div id="welcome-title">Undeploy $appName</div>
<div id="rounded-div-content">
   Undeploy on : <br/>
   #foreach($deploy in $deployments)
   		<INPUT TYPE=CHECKBOX NAME="$deploy" value="$deploy.getUrl()">$deploy.getName()</input><BR>
   #end
   <input type="button" class="button orange" value="Undeploy" onClick="undeploy()"/>
</div>
#parse("footpage.html")