body{
	margin: 0;
	padding: 0;
	background-color: #AACCDD;
}

.book{
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	width: 80%;
	min-height: 600px;
	margin: -15px auto auto;
	border: 1px solid #000000;
	border-top: none;
	background: #ffffff;
}

.navheader,.navfooter{
	background-color: #DCF1FA;
}

.navheader{
	border-bottom: 1px solid black;
}

.navheader th{
	font-size: 26px;
}

hr{
	border: none;
}

.title{
	font-size: 20px;
	text-align: center;
	background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    position: relative;
    width: 100%;
}

.chapter a{
	color: #555555;
}