#macro ( getLabel )ProxyWSLog#end

#macro ( getId )ProxyWSLog#end

#macro ( getForm )
		<table class="table">
		<tr>
			<td>Implementation type :</td>
			<td>
				<select name="generator-id" id="generator-id">
					<option>JavaScript</option>
					<option>Java</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Url of the WSDL to proxify :</td>
			<td>
				<input type="text" id="url" name="url"/>
				<input type="button" value="load" onClick="loadWSDL(document.getElementById('url').value)"/>
			</td>
		</tr>
		<tr id="serviceTR" style="display:none;">
			<td>Service/Port/Interface :</td>
			<td>
				<select name="servicePort" id="servicePort" onChange="selectServicePort()">
				</select>
			</td>
		</tr>
		<tr>
			<input type="hidden" id="target" name="target" />
			<input type="hidden" id="service" name="service" />
			<input type="hidden" id="port" name="port" />
			<input type="hidden" id="interface" name="interface" />
		</tr>
		</table>
#end

#macro ( getTemplate )
<?xml version="1.0" encoding="UTF-8"?>
<composite xmlns="http://www.osoa.org/xmlns/sca/1.0" xmlns:wsdli="http://www.w3.org/2004/08/wsdl-instance" xmlns:frascati="http://frascati.ow2.org/xmlns/sca/1.1" name="$arg0["compositeName"]">
    <component name="proxy-$arg0["compositeName"]">
    #if($arg0["generator-id"] == "JavaScript")
    	<frascati:implementation.script script="scripts/${arg0["service"]}.js"/>
    #end
    	<service name="wsdl-service">
    		<interface.wsdl interface="$arg0["url"]#wsdl.interface($arg0["interface"])"/>
    	</service>
    	<reference name="wsdlReference">
    		<interface.wsdl interface ="$arg0["url"]#wsdl.interface($arg0["interface"])"/>
    	</reference>
    </component>
    <service name="serviceProxy" promote="proxy-$arg0["compositeName"]/wsdl-service">
    	<binding.ws name="ws" uri="/services/$arg0["login"]/$arg0["appName"]"/>
    	<interface.wsdl interface="$arg0["url"]#wsdl.interface($arg0["interface"])"/>
    </service>
    <reference name="wsdl-delegated" promote="proxy-$arg0["compositeName"]/wsdlReference">
    	<binding.ws name="wsdl" wsdlElement="$arg0["target"]/#wsdl.port($arg0["service"]/$arg0["port"])" wsdli:wsdlLocation="$arg0["url"]"/>
    	<interface.wsdl interface="$arg0["url"]#wsdl.interface($arg0["interface"])"/>
    </reference>
</composite>
#end

