 html, body {
        width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 0px;
     }

#header { 
	height: 100px;
	width : 100%;
	margin-top: 10px;
	margin-left: 95px;
	text-align: center;
}

#footer {
	height: 120px;
	width : 100%;
 	margin-bottom: 50px;
	margin-left: 95px;
	text-align: center;
}

a.footer-image {
	height : 75px;
	margin : 0 50 0 50;
	vertical-align: middle;
}

#composite  {
  margin: 20px 0 0;
}

#composite H2 {
  color: #646464;
}

