	body{
	  margin:10;
	  padding:100px 0 0 0;
	  overflow:hidden;
	 }
	 #header{
	  margin: 10 5 10 5;
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100px;
	  background : white;
	 }
	
	#panel{
	  height:100%;
	   overflow:auto;
	 }
	
	#nav {
	width: 100%;
	float: left;
	margin: 0 0 0 10;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	}
	
	#nav li {
		float: left;
		width: 25%;
		text-align: center;
		list-style-type: none;
	}
	
	#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #646464;
		border: 1px solid #ccc;
	}
	
	#nav li:first-child a {
		border-left: 1px solid #ccc;
	}
	
	#nav li a:hover {
	/* 	color: #c00; */
		background-color: #fff;
	}
	
	#accordion  {
	  margin: 20px 0 0;
	}

	#accordion .title {
		background: #6B7B95;
     	cursor: pointer;
	}

	#accordion H2
	{
	  color: white;
	  font: 12px Helvetica, Arial, sans-serif;
	  line-height: 16px;
	  margin: 0 0 4px 0;
	  padding: 3px 5px 1px;
	}
	
	#accordion .content {
	  background-color: #F4F5F5;
	}
	
	#accordion .content p {
	  margin: 0.5em 0;
	  padding: 0 6px 8px 6px;
	}
	
	.fieldsetContainer {
		margin : 10px;
		border:1px solid #6B7B95;
		border-radius: 10px;
		background-color: white;
	}
	
	.fieldsetContainer .containerlegend {
		padding: 5px 15px;
		border:1px solid #6B7B95;
		border-radius: 10px;
		font-size:90%;
		text-align:right;
		background-color: #6B7B95;
		color : white;
	  }
	
	.fieldsetform {
		margin : 10px;
		border:1px solid #646464;
		border-radius: 10px;
		background-color: #F4F5F5;
	}
	
	.fieldsetform .formlegend {
		padding: 5px 15px;
		border:1px solid #646464;
		border-radius: 10px;
		font-size:90%;
		text-align:right;
		background-color: white;
	  }
	
	.fieldsetform .desc {
		float:left;
	  	width:250px;
	  	margin-right:0.5em;
	  	text-align:right;
	  	font-weight:bold;
	} 
	
	.fieldsetform .value{}
	
	.fieldsetform .button {
	 	float:left;
	 	width:150px;
	 	margin-right:0.5em;
	 	text-align:center;
	  }
	
	.menu_icon
	{
		margin-right: 5px;
	}